<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>Data: <%= data_br(Date.today) %><p>

<ul>
    <li>
        <%= link_to("Cadastro de Moedas", coins_path) %>
    </li>
</ul>

<p>
    Olá <%= @meu_nome %>, <br />
    Você está em ambiente de <%= ambiente_rails %>
</p>